:root {
    /*--color-primario: #75b678;
    --color-secundario: #fef4c5;
    
    --color-background: #fafbe1;
    
    --color-table-even: #c7f8c9;
    --color-table-odd: white;
    */

    --color-primario: #5E8B4A;
    --color-primario-hover: #4D743D;
    --color-secundario: #A7C4A0;

    --color-background: #F6F4EE;
    
    --color-font: white;

    --color-table-even: #E7B95A;
    --color-table-odd: white;

    --color-card: #FFFFFF;
}

/* ESTILOS DE PRUEBA PARA MIS PANTALLAS */
.cabecera_exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 2px solid var(--color-primario);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--color-secundario);
}

footer{
    color: var(--color-primario);
    padding: 20px;
    border-top: 2px solid var(--color-primario);
}

dialog {
    border: none;
    opacity: 0;
    transform: scale(0.8);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* Cuando está abierto */
dialog[open] {
    opacity: 1;
    transform: scale(1);
}

/* Fondo oscuro */
dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog[open]::backdrop {
    backdrop-filter: blur(5px);
}

.main_content {
    padding: 20px;
    min-height: 750px;
    position: relative;
    isolation: isolate;
    background: var(--color-background);
    /*background: radial-gradient(
        var(--color-secundario), rgb(255, 207, 179)
    );*/
}

.main_content::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/background.png");
    background-size: cover;

    opacity: 2;
    z-index: -1;
}

.cabecera_main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera_main h1{
    margin-right: 20px;
}

.cabecera_main .ti{
    background-color: var(--color-primario);
    color: var(--color-font);
    border-radius: 50%;
    font-size: 60px;
    padding: 10px;
}

.cabecera_main .apartado-exp{
    display: flex;
}

.titulo_principal {
    background:var(--color-primario);
    font-size: 32px;
    text-align: center;
    color: var(--color-font);
    padding: 10px 20px;
    border: 2px solid var(--color-secundario);
    border-radius: 10px;
    text-transform: uppercase;
    width: 50%;
}

.fab-container {
    display: flex; /* añadido */
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.fab-etiqueta{
    background: var(--color-secundario);
    color: var(--color-primario);

    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid var(--color-background);

    font-size: 24px;
    white-space: nowrap;

    opacity: 0;
    transform: translateX(10px);
    transition: 0.2s;
}

.fab-usuario-container {
    position: fixed;
    bottom: 130px;
    right: 40px;

    opacity: 0;
    transition: 0.2s;
}

.fab-container:hover .fab-etiqueta,
.fab-container:hover .fab-usuario-container {
    opacity: 1;
    transform: translateX(0);
}

.fab {
    height: 80px;
    width: 80px;
    background-color: var(--color-primario);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    transition: 0.2s;
}



.fab:hover{
    transform: scale(1.1);
    background-color: var(--color-primario-hover);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    margin-right: 10px;
    font-size: 15px;
}

select {
    margin-right: 10px;
    padding: 5px;
}

nav {
    width: fit-content;
    margin: auto;
    background-color: var(--color-primario);
    overflow: hidden;
    border-radius: 20px;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    display: flex;
    color: var(--color-font);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 25px;
}

nav a.active{
    background-color: var(--color-primario-hover);
    color: var(--color-secundario);
    font-weight: bold;
    border-radius: 20px;
}


.nav-explotacion a span{
    opacity: 0;

    transform: translateX(-10px);

    max-width: 0;

    overflow: hidden;

    white-space: nowrap;

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        max-width 0.3s ease;
}

.nav-explotacion a.active span,
.nav-explotacion a:hover span{
    opacity: 1;

    transform: translateX(0);

    max-width: 200px;
}

nav li a:hover {
    background-color: var(--color-primario-hover);
    border-radius: 20px;
}

.nav_campanas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-card);
    padding: 20px;
}

.user_button {
    background-color: var(--color-primario);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user_button:hover {
    background-color: var(--color-primario-hover);
}

table {
    width: 90%;
    margin: auto;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.table_exp th,
.table_exp td,
.table_exp_parcelas th,
.table_exp_parcelas td {
    border: 1px solid var(--color-primario);
    padding: 16px;
    align-items: center;
}

.table_exp th,
.table_exp_parcelas th {
    background-color: var(--color-primario);
    color: white;
    padding: 10px;
}

.table_exp tr:nth-child(even),
.table_exp_inst tr:nth-child(even) {
    background-color: var(--color-secundario);
}

.table_exp tr:nth-child(odd),
.table_exp_inst tr:nth-child(odd) {
    background-color: var(--color-table-odd);
}

.table_exp_inst {
    width: 50%;
    justify-content: center;
    
}

.table_exp_inst tr{
    border: 2px solid var(--color-primario);
}

.table_exp_inst td{
    text-align: start;
    padding: 0px 20px;
}


.table_exp_parcelas .tr-even {
    background-color: var(--color-secundario);
}

.table_exp_parcelas .tr-odd {
    background-color: var(--color-table-odd);
}

.boton-detalles{
    font-size: 30px;
    background-color: var(--color-primario);
    border: none;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-font);
    transition: 0.2s;
}

.boton-detalles:hover{
    color: var(--color-primario-hover);
    transform: scale(1.1);
}



.add_button {
    background-color: var(--color-primario);
    font-size: 20px;
    color: var(--color-font);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 50px;
}

.add_button:hover {
    background-color: var(--color-primario-hover);
}

.cancel_button {
    background-color: #f44336;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 50px;
}

.cancel_button:hover {
    background-color: #d32f2f;
}

.modal_formulario {
    flex-direction: column;
    position: center;
    align-items: center;
    background: var(--color-card);
    border: var(--color-primario) solid 2px;
    padding: 20px;
    border-radius: 10px;
    width: 33%;
}

.grupo-form {
    display: grid;
    grid-template-columns: 33% 66%;
    text-align: left;
    gap: 12px;
    margin: 20px;
    font-size: 18px;
}

.lista-maquinaria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.card-maquina {
    background-color: var(--color-card);
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.295);

    transition: 0.2s;
}

.card-maquina:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.tags {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.tag {
    display: inline-block;
    background-color: rgb(226, 225, 225);
    color: grey;
    padding: 5px 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 12px;
}

.card-text {
    font-size: 16px;
    margin: 10px 20px;
    text-align: left;
}

.close_button {
    font-size: 40px;
    text-align: right;
}

.close_button:hover {
    color: #96c586;
    cursor: pointer;
}

.info_modal {
    width: 50%;
    padding: 10px 30px;
    border-radius: 10px;
    background: var(--color-card);
    border: var(--color-primario) solid 2px;
}

.modal_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.modal_body {
    padding: 10px 50px;
}

.info_text {
    font-size: 20px;
    line-height: 2;
}

.info_table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid var(--color-primario);
    margin: auto;
}
.info_table td {
    border: 1px solid var(--color-primario);
    padding: 10px;
    text-align: left;
}

.info_table .info_label {
    font-weight: bold;
    width: 40%;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-align: right;
}

.maquinaria_form {
    flex-direction: column;
    position: center;
    align-items: center;
    background: var(--color-card);
    border: var(--color-primario) solid 2px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.main_campanas{
    display: grid;
    grid-template-columns: 20% 80%;
}

.info_campanas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-campana {
    background-color: var(--color-card);
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    padding: 10px;
    text-align: start;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.295);

    transition: 0.2s;
}

.card-campana:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.detalle-campaña{
    display: none;
    background-color: var(--color-card);
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    padding: 20px;
    text-align: start;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.295);
}
