:root {
    --color-primario: #75b678;
    --color-secundario: #fbfe98;

    --color-table-even: #c7f8c9;
    --color-table-odd: white;
}

/* ESTILOS DE PRUEBA PARA MIS PANTALLAS */
.cabecera_exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background: radial-gradient(
        var(--color-secundario), rgb(255, 207, 179)
    );
}

dialog {
    border: none;
    opacity: 0;
    transform: scale(0.8);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* Cuando está abierto */
dialog[open] {
    opacity: 1;
    transform: scale(1);
}

/* Fondo oscuro */
dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog[open]::backdrop {
    backdrop-filter: blur(5px);
}

.main_content {
    padding: 20px;
    min-height: 600px;

}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    margin-right: 10px;
    font-size: 15px;
}

select {
    margin-right: 10px;
    padding: 5px;
}

nav {
    width: fit-content;
    margin: auto;
    background-color: var(--color-primario);
    overflow: hidden;
    border-radius: 20px;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    display: flex;
    color: var(--color-secundario);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    background-color: #45a049;
    border-radius: 20px;
}

.user_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user_button:hover {
    background-color: #45a049;
}

table {
    width: 90%;
    margin: auto;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.table_exp th,
.table_exp td,
.table_exp_parcelas th,
.table_exp_parcelas td {
    border: 1px solid var(--color-primario);
    padding: 16px;
    align-items: center;
}

.table_exp th,
.table_exp_parcelas th {
    background-color: var(--color-primario);
    color: white;
    padding: 10px;
}

.table_exp tr:nth-child(even) {
    background-color: var(--color-table-even);
}

.table_exp tr:nth-child(odd) {
    background-color: var(--color-table-odd);
}

.table_exp_parcelas .tr-even {
    background-color: var(--color-table-even);
}

.table_exp_parcelas .tr-odd {
    background-color: var(--color-table-odd);
}

.cabecera_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.add_button {
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 50px;
}

.add_button:hover {
    background-color: #45a049;
}

.cancel_button {
    background-color: #f44336;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 50px;
}

.cancel_button:hover {
    background-color: #d32f2f;
}

.modal_formulario {
    flex-direction: column;
    position: center;
    align-items: center;
    background: rgb(222, 241, 205);
    border: #45a049 solid 2px;
    padding: 20px;
    border-radius: 10px;
    width: 33%;
}

.grupo-form {
    display: grid;
    grid-template-columns: 33% 66%;
    text-align: left;
    gap: 12px;
    margin: 20px;
    font-size: 18px;
}

.lista-maquinaria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.card-maquina {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.tags {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.tag {
    display: inline-block;
    background-color: rgb(216, 211, 211);
    color: grey;
    padding: 5px 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 12px;
}

.card-text {
    font-size: 16px;
    margin: 10px 20px;
    text-align: left;
}

.close_button {
    font-size: 40px;
    text-align: right;
}

.close_button:hover {
    color: #96c586;
    cursor: pointer;
}

.info_modal {
    width: 50%;
    padding: 10px 30px;
    border-radius: 10px;
    background: rgb(230, 230, 229);
    border: #45a049 solid 2px;
}

.modal_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.modal_body {
    padding: 10px 50px;
}

.info_text {
    font-size: 20px;
    line-height: 2;
}