
/* ESTILOS DE PRUEBA PARA MIS PANTALLAS */
.cabecera_exp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f2f2f2;
            padding: 10px 20px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            width: fit-content;
            margin: auto;
            background-color: #2e7431;
            overflow: hidden;
            border-radius: 20px;
        }

        nav li {
            float: left;
            list-style-type: none;
        }

        nav li a {
            display: flex;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
        }

        nav li a:hover {
            background-color: #45a049;
        }

        .user_button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .user_button:hover {
            background-color: #45a049;
        }

        table {
            width: 66%;
            margin: auto;
            align-items: center;
            border-collapse: collapse;
            text-align: center;
        }

        .table_exp th,
        .table_exp td {
            border: 1px solid #2e7431;
            padding: 16px;
            align-items: center;
        }

        .table_exp th {
            background-color: #2e7431;
            color: white;
            padding: 10px;
        }

        .cabecera_parcelas {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        .add_button {
            background-color: #4CAF50;
            font-size: 20px;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 50px;
        }

        .add_button:hover {
            background-color: #45a049;
        }