/* Estilos para la vista de explotaciones */
/* Ocultar el menú de navegación */
.contenido {
    display: flex;
    margin: 10px 20px;
}

.acciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    padding: 10px 20px;
}